body {
  text-decoration: none;
}
.calculator {
  background-color: grey;
  border-radius: 10px;
  padding: 5%;
  width: auto;
  display: inline-block;
  justify-content: space-evenly;
}
input {
  border-radius: 10px;
  font-size: 20px;
  width: inherit;
  border-color: black;
  margin-bottom: 2px;
  padding-bottom: 5px;
  text-align: right;
}

button {
  color: white;
  background-color: grey;
  border-radius: 7px;
  font-size: 17px;
  width: 50px;
  height: 30px;
  margin-bottom: 2px;
}
button#ac {
  background-color: green;
}
button#del {
  background-color: red;
}
.operator {
  font-weight: 600;
  background-color: #fff;
  color: blue;
}
button#off {
  background-color: black;
  color: grey;
  font-size: 20px;
  margin-left: 160px;
}
button#on {
  background-color: black;
  color: grey;
  font-size: 20px;
}
button.number {
  background-color: black;
}
