body {
  text-decoration: none;
}
.div {
  background-color: grey;
  border-radius: 10px;
  padding: 5%;
  width: auto;
  display: inline-block;
  justify-content: space-evenly;
}
input {
  border-radius: 10px;
  font-size: 20px;
  width: inherit;
  border-color: black;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: right;
}

button {
  color: white;
  background-color: grey;
  border-radius: 7px;
  font-size: 17px;
  width: 60px;
  margin-bottom: 20px;
}
button.ac {
  background-color: green;
}
button.del {
  background-color: red;
}
button.off {
  background-color: black;
  color: grey;
  font-size: 20px;
  margin-left: 160px;
}
button.on {
  background-color: black;
  color: grey;
  font-size: 20px;
}
button.symbol {
  background-color: black;
}
